<div class="flex-1 h-full">
  <div class="bg-slate-50 h-full">
    <div class="container mx-auto text-center align-middle">
      <p class="text-gray sm:text-6xl text-4xl">Listar gerentes</p>
    </div>
    <div class="p-8">
      <div class="bg-white rounded-lg shadow-lg">
        <table class="table-auto w-full">
          <thead class="bg-blue-500 text-white shadow-lg">
            <tr>
              <th class="py-3 px-4 text-left">Nome</th>
              <th class="py-3 px-4 text-left">CPF</th>
              <th class="py-3 px-4 text-left">Email</th>
              <th class="py-3 px-4 text-left">Telefone</th>
              <th class="py-3 px-4 text-left"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let gerente of gerentes; let i = index"
              class="hover:bg-gray-100">
              <td class="px-4 py-3">{{ gerente.nome }}</td>
              <td class="px-4 py-3">{{ gerente.cpf }}</td>
              <td class="px-4 py-3">{{ autenticacao[i].login }}</td>
              <td class="px-4 py-3">{{ gerente.telefone }}</td>
              <td class="px-4 py-3 text-center">
                <div class="group inline-block flex-1">
                  <button
                    class="hover:bg-gray-300 p-1 px-2 font-bold rounded-lg focus:outline-none">
                    &#8943;
                  </button>
                  <ul class="absolute hidden pt-1 group-hover:block pl-0">
                    <li class="flex-1 w-full">
                      <button
                        [routerLink]="[
                          '/admin/gerente/editar',
                          autenticacao[i].id!
                        ]"
                        class="rounded-t w-full bg-gray-200 hover:bg-gray-400 text-blue-800 no-underline py-2 px-4 block whitespace-no-wrap"
                        href="#">
                        editar
                      </button>
                    </li>
                    <li class="flex-1 w-full">
                      <button
                        (click)="deleteGerente(autenticacao[i].id!)"
                        class="bg-gray-200 hover:bg-gray-400 py-2 px-4 text-red-700 no-underline block whitespace-no-wrap"
                        href="#">
                        excluir
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
