<body class="flex h-full bg-gray-100">
  <div class="flex-grow text-gray-800">
    <main class="p-6 sm:p-10 space-y-6">
      <div
        class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
        <div class="mr-6">
          <h1 class="text-4xl font-semibold mb-2">Bem vindo!</h1>
          <h1 class="text-4xl mb-2">Admin</h1>
        </div>
      </div>

      <div class="flex-1 h-full">
        <div class="h-full">
          <div class="container mx-auto text-center align-middle">
            <p class="text-gray sm:text-6xl text-4xl">Gerentes</p>
          </div>
          <div class="p-8">
            <div class="bg-gray-100 rounded-lg shadow-lg">
              <table class="table-auto w-full">
                <thead class="bg-blue-500 text-white shadow-lg">
                  <tr>
                    <th class="py-3 px-4 text-left">Nome</th>
                    <th class="py-3 px-4 text-left">CPF</th>
                    <th class="py-3 px-4 text-left">
                      Sum saldo positivo cliente
                    </th>
                    <th class="py-3 px-4 text-left">
                      Sum saldo negativo cliente
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let gerente of gerentes; let i = index"
                    class="hover:bg-gray-100">
                    <td class="px-4 py-3">{{ gerente.name }}</td>
                    <td class="px-4 py-3">{{ gerente.cpf }}</td>
                    <td class="px-4 py-3">{{ positiveBalances[i] }}</td>
                    <td class="px-4 py-3">{{ negativeBalances[i] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
