<!-- wrapper -->
<div class="h-screen flex flex-col">
   <!-- heading -->
   <div class="fixed top-0 inset-x-0 bg-gray-800 text-gray-400 z-10">
      <div class="max-w-5xl mx-auto h-16 px-4 flex items-center justify-between">
         <!-- left -->
         <div class="flex items-center">
            <!-- navbar-brand -->
            <a href="#" class="text-blue-400">
               <svg viewBox="0 0 24 24" class="h-10 w-10 fill-current stroke-current stroke-2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                     d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5" />
               </svg>
            </a>
            <!-- navbar-nav -->
            <div class="ml-4 space-x-2">
               <a href="#" class="px-3 py-2 text-sm rounded bg-gray-900 text-white">item-1</a>
               <a href="#" class="px-3 py-2 text-sm rounded hover:bg-gray-700 hover:text-white">item-2</a>
               <a href="#" class="px-3 py-2 text-sm rounded hover:bg-gray-700 hover:text-white">item-3</a>
            </div>
         </div>

         <!-- rght -->
         <button class="">
            <img alt=""
               src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
               class="h-8 w-8 rounded-full object-cover">
         </button>
      </div>
   </div>

   <div class="flex-1 pt-16 bg-blue-100 text-gray-900">
      <router-outlet></router-outlet>
   </div>
</div>